<header class="refaccionaria-header">
  <div class="header-content">
    <div class="logo">
      <a routerLink="/">Neria Motos</a>
    </div>
    <nav class="navigation">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      <a routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
      <a routerLink="/servicios" routerLinkActive="active">Servicios</a>
      <a routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
      <a routerLink="/inicio-sesion" routerLinkActive="active">Inicio de Sesion</a>
      <a routerLink="/productos" class="contact-button" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Carrito de Compras" fontIcon="shopping_cart"></mat-icon>
      </a>
    </nav>
  </div>
</header>
