div {
  padding: 25px;
  border-radius: 16px;
}

h2 mat-icon {
  font-size: 25px;
  vertical-align: middle;
}

table {
  width: 100%;
  table-layout: fixed;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th, td {
  text-align: left;
}
